.wrapper {
  margin: 0 auto;
  background: #ECEFF1;
  width: 70%;
  padding: 0px 50px 50px 50px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
}

.wrapper h1 {
  margin: 20px auto;
}